@use "../base/color" as *;
@use "../utils/breakpoint" as *;

@use "../components/logo";
@use "../components/connection";
@use "../components/socialMedia";
@use "../components/contactMethod";

.header {
  margin: 10px auto 20px;
  background-image: url("./images/subbg.gif");
  box-shadow: 0 0 5px 0 $gray-800;
  @include breakpoint($tablet) {
    margin: 10px auto 0;
    background-image: none;
    box-shadow: none;
  }
  @include breakpoint($PC) {
    max-width: 1440px;
  }

  &_item {
    flex: 1;
    padding: 1.5rem 1rem;
    @include breakpoint($tablet) {
      background-image: url("./images/subbg.gif");
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 2.5rem 2.7rem;
      margin-bottom: 20px;
      box-shadow: 0 0 5px 0 $gray-800;
    }
  }
}