@use "../base" as *;
@use "../utils" as *;

@use "../components/introduce" as *;
@use "../components/welcome" as *;
@use "../components/chooseUslist" as *;
@use "../components/news" as *;

main {
  background-image: url("./images/subbg.gif");
  box-shadow: 0 1px 3px 0 $gray-400;
  padding-bottom: 1.5rem;
  margin-bottom: 20px;
  @include breakpoint($tablet) {
    padding: 1.2rem 0 2.5rem;
    margin-top: -20px;
  }
  @include breakpoint($PC) {
    max-width: 1440px;
    margin: -20px auto 4.5rem;
    padding: 1.2rem 0 6rem;
  }
}