@use "../base" as *;
@use "../utils" as *;
.testimonials {
  @include display_flex(column, $gap_s);
  @include breakpoint($tablet) {
    gap: $gap_l;
  }

  &_title{
    @extend %information_title;
  }

  &_content{
    @include display_flex(column, $gap_s);
  }

  &_dialog {
    clip-path: polygon(0 0, 100% 0, 100% 77%, 10% 77%, 0 90%);
    border-radius: 2px;
    padding: 0.1rem 0.1rem 0.2rem;
    background-color: $gray-100;
    font-size: $font_size_xxs;
  }

  &_dialog_text {
    clip-path: polygon(0 0, 100% 0, 100% 77%, 10% 77%, 0 90%);
    border-radius: 2px;
    padding: 1.3rem 2rem 3.5rem;
    background-color: $gray;
  }

  &_people {
    @include display_flex(row, $gap_s);
  }

  &_people_name,
  &_people_link {
    display: block;
    line-height: 1.4;
    @include breakpoint($PC){
      line-height: 1;
    }
  }

  &_people_link {
    font-style: italic;
    color: $primary_color;

    &:hover {
      text-decoration: underline;
      color: $primary_color;
    }
  }
}
