@use "../base" as *;
@use "../utils" as *;

.tweet {
  @include display_flex(column, $gap_s);
  @include breakpoint($tablet) {
    gap: $gap_l;
  }

  .tweet_title{
    @extend %information_title;
  }
  
  .tweet_text {
    font-size: 0.8rem;
    @include breakpoint($tablet) {
      font-size: $font_size_xs;
    }
  }
}
